
@{ 
    if (Session["userid"] == null)
    {
        if (!Response.IsRequestBeingRedirected)
        {
            Response.Redirect("~/DanhGia/Login");
        }
    }
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="KPI-Kiệt Hồng">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="~/plugins/images/favi.png">
    <title>@ViewBag.Title</title>
    
    <link href="~/Content/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">   
    <link href="~/plugins/bower_components/bootstrap-extension/css/bootstrap-extension.css" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="~/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
    <!-- morris CSS -->
 
    <!-- animation CSS -->
    <link href="~/Content/css/animate.css" rel="stylesheet">
    <!-- Custom CSS -->
   
    <link href="~/Content/css/style.min.css" rel="stylesheet">
    <!-- color CSS giao diện -->
    
    <link href="~/Content/css/colors/blue.css" id="theme" rel="stylesheet">
</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header">
                <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
                <div class="top-left-part"><a class="logo" href="@Url.Action("Index","Home")"><b><img src="~/plugins/images/LogoKPIKH.png" alt="home" /></b><span class="hidden-xs"><strong>Kiệt Hồng</strong> KPI</span></a></div>
                <ul class="nav navbar-top-links navbar-left hidden-xs">
                    <li><a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light"><i class="icon-arrow-left-circle ti-menu"></i></a></li>
                    <li>
                        <form role="search" class="app-search hidden-xs">
                            <input type="text" placeholder="Tìm kiếm..." class="form-control"> <a href=""><i class="fa fa-search"></i></a>
                        </form>
                    </li>
                </ul>
                <ul class="nav navbar-top-links navbar-right pull-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#">
                            <i class="fa fa-envelope"></i>
                            <div class="notify"><span class="heartbit"></span><span class="point"></span></div>
                        </a>
                        <ul class="dropdown-menu mailbox animated bounceInDown">
                            <li>
                                <div class="drop-title">Bạn có 4 tin nhắn mới</div>
                            </li>
                            <li>
                                <div class="message-center">
                                    <a href="#">
                                        <div class="user-img"> @*<img src="../plugins/images/users/pawandeep.jpg" alt="user" class="img-circle">*@ <span class="profile-status online pull-right"></span> </div>
                                        <div class="mail-contnet">
                                            <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:30 AM</span>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="user-img">  <span class="profile-status busy pull-right"></span> </div>
                                        <div class="mail-contnet">
                                            <h5>Sonu Nigam</h5> <span class="mail-desc">I've sung a song! See you at</span> <span class="time">9:10 AM</span>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="user-img">  <span class="profile-status away pull-right"></span> </div>
                                        <div class="mail-contnet">
                                            <h5>Arijit Sinh</h5> <span class="mail-desc">I am a singer!</span> <span class="time">9:08 AM</span>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="user-img">  <span class="profile-status offline pull-right"></span> </div>
                                        <div class="mail-contnet">
                                            <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <a class="text-center" href="javascript:void(0);"> <strong>Xem tất cả</strong> <i class="fa fa-angle-right"></i> </a>
                            </li>
                        </ul>
                        <!-- /.dropdown-messages -->
                    </li>
                   
                    <li class="dropdown">
                        <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#"><i class="fa fa-user"></i> @*<img src="~/plugins/images/User-Default.jpg" alt="user-img" width="36" class="img-circle">*@<b class="hidden-xs">@if (Session["userid"] != null) { @Session["TenNV"].ToString()}</b> </a>
                        <ul class="dropdown-menu dropdown-user animated flipInY">
                           
                            <li><a href="@Url.Action("Index","ChangePass")"><i class="ti-settings"></i> Đổi mật khẩu</a></li>
                            <li><a href="@Url.Action("LogOut","Login")"><i class="fa fa-power-off"></i>  Đăng xuất</a></li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                    <li class="right-side-toggle"> <a class="waves-effect waves-light" href="javascript:void(0)"><i class="ti-settings"></i></a></li>
                    <!-- /.dropdown -->
                </ul>
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        <!-- Left navbar-header -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse slimscrollsidebar">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search hidden-sm hidden-md hidden-lg">
                        <!-- input-group -->
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Tìm kiếm..."> <span class="input-group-btn">
                                <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </li>
                    <li class="user-pro">
                        <a href="#">
                            @*<img src="../plugins/images/users/d1.jpg" alt="user-img" class="img-circle">*@ <i class="fa fa-user"></i> &nbsp; <span class="hide-menu">@if (Session["userid"] != null)
                            { @Session["TenNV"].ToString()}<span class="fa arrow"></span></span>
                        </a>
                        <ul class="nav nav-second-level">
                          
                            <li><a href="@Url.Action("Index","ChangePass")"><i class="ti-settings"></i> Đổi mật khẩu</a></li>
                            <li><a href="@Url.Action("LogOut","Login")"><i class="fa fa-power-off"></i> Đăng xuất</a></li>
                        </ul>
                    </li>
                    <li class="nav-small-cap"> &nbsp; &nbsp; &nbsp;Danh mục chính</li>
                    <li> <a href="@Url.Action("Index","Home")"><i class="ti-dashboard"></i> <span class="hide-menu">Tổng quan</span></a> </li>
                    <li> <a href="@Url.Action("ChiNhanhAsync","Home")"><i class="fa fa-th-list"></i> <span class="hide-menu">Chi nhánh</span></a></li>
                    <li> <a href="@Url.Action("NhanVienAsync","NhanVien")"><i class="fa fa-users"></i> <span class="hide-menu">Nhân viên</span></a></li>

                    <li class="nav-small-cap m-t-10">&nbsp; &nbsp; &nbsp; Phân hệ KPI</li>

                    <li>
                        <a href="@Url.Action("LoaiTieuChiAsync","LoaiTieuChi")"><i class="fa fa-book"></i> <span class="hide-menu"> Loại tiêu chí</span></a>
                        <a href="@Url.Action("NhomTieuChiAsync","NhomTieuChi")"><i class="fa fa-reorder"></i> <span class="hide-menu"> Nhóm tiêu chí</span></a>
                        <a href="@Url.Action("TieuChiAsync","TieuChi")"><i class="fa  fa-th-large"></i> <span class="hide-menu"> Tiêu chí đánh giá</span></a>
                    </li>
                 
                    <li>
                        <a href="javascript:void(0);"> <span class="hide-menu"> BÁO CÁO <span class="fa arrow"></span></span></a>
                        <ul class="nav nav-second-level">
                            <li> <a href="#"><i class="fa fa-th"></i> Báo cáo kiểm tra KPI</a></li>
                            <li> <a href="#"><i class="fa fa-exclamation-circle"></i> Báo cáo tồn kho lỗi</a></li>

                        </ul>
                    </li>

                    <li><a href="login.html" class="waves-effect"><i class="icon-logout fa-fw"></i> <span class="hide-menu">Đăng xuất</span></a></li>

                </ul>
            </div>
        </div>
        <!-- Left navbar-header end -->
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                
                @RenderBody()

                <!-- .right-sidebar -->
                <div class="right-sidebar">
                    <div class="slimscrollright">
                        <div class="rpanel-title"> Cài đặt <span><i class="ti-close right-side-toggle"></i></span> </div>
                        <div class="r-panel-body">
                            <ul>
                                <li><b>Tùy chọn giao diện</b></li>
                                <li>
                                    <div class="checkbox checkbox-info">
                                        <input id="checkbox1" type="checkbox" class="fxhdr">
                                        <label for="checkbox1"> Cố định Header </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox checkbox-warning">
                                        <input id="checkbox2" type="checkbox" class="fxsdr">
                                        <label for="checkbox2"> Cố định Sidebar </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox checkbox-success">
                                        <input id="checkbox4" type="checkbox" class="open-close">
                                        <label for="checkbox4"> Toggle Sidebar </label>
                                    </div>
                                </li>
                            </ul>
                            <ul id="themecolors" class="m-t-20">
                                <li><b>With Light sidebar</b></li>
                                <li><a href="javascript:void(0)" data-theme="default" class="default-theme">1</a></li>
                                <li><a href="javascript:void(0)" data-theme="green" class="green-theme">2</a></li>
                                <li><a href="javascript:void(0)" data-theme="gray" class="yellow-theme">3</a></li>
                                <li><a href="javascript:void(0)" data-theme="blue" class="blue-theme working">4</a></li>
                                <li><a href="javascript:void(0)" data-theme="purple" class="purple-theme">5</a></li>
                                <li><a href="javascript:void(0)" data-theme="megna" class="megna-theme">6</a></li>
                                <li class="d-block m-t-30"><b>With Dark sidebar</b></li>
                                <li><a href="javascript:void(0)" data-theme="default-dark" class="default-dark-theme">7</a></li>
                                <li><a href="javascript:void(0)" data-theme="green-dark" class="green-dark-theme">8</a></li>
                                <li><a href="javascript:void(0)" data-theme="gray-dark" class="yellow-dark-theme">9</a></li>
                                <li><a href="javascript:void(0)" data-theme="blue-dark" class="blue-dark-theme">10</a></li>
                                <li><a href="javascript:void(0)" data-theme="purple-dark" class="purple-dark-theme">11</a></li>
                                <li><a href="javascript:void(0)" data-theme="megna-dark" class="megna-dark-theme">12</a></li>
                            </ul>
                          
                        </div>
                    </div>
                </div>
                <!-- /.right-sidebar -->
            </div>
            <!-- /.container-fluid -->
            <footer class="footer text-center"> 2017 &copy; Kiệt Hồng KPI </footer>
        </div>

      
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="~/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Content/bootstrap/dist/js/tether.min.js"></script>
    <script src="~/Content/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/plugins/bower_components/bootstrap-extension/js/bootstrap-extension.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="~/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
   
    <script src="~/Content/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="~/Content/js/waves.js"></script>
    <!--Morris JavaScript -->
    <script src="~/plugins/bower_components/raphael/raphael-min.js"></script>
   
    <!-- Sparkline chart JavaScript -->
    <script src="~/plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js"></script>
    <!-- jQuery peity -->
    <script src="~/plugins/bower_components/peity/jquery.peity.min.js"></script>
  

    

    <!-- Custom Theme JavaScript -->
    <script src="~/Content/js/custom.min.js"></script>
  
    <!-- Editable -->
    <script src="~/plugins/bower_components/jquery-datatables-editable/jquery.dataTables.js"></script>
    <script src="~/plugins/bower_components/datatables/dataTables.bootstrap.js"></script>
   
    <script src="~/plugins/bower_components/tiny-editable/numeric-input-example.js"></script>
    <script src="~/Scripts/custom-develop.js"></script>
  
    <!--Style Switcher -->
    <script src="~/plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>



</body>
</html>
