@model KPIKietHong.Models.Tbltieuchi

@{
    ViewBag.Title = "Khởi tạo Tiêu Chí";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Tiêu Chí</h4>
    </div>
</div>

<div class="white-box">
    <h2>Thêm Tiêu Chí</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
           
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div class="form-group">
                @Html.LabelFor(model => model.Matieuchi, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Matieuchi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Matieuchi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Tentieuchi, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Tentieuchi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Tentieuchi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Idchinhanh, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Idchinhanh, ViewBag.ChiNhanhList as SelectList, "----chọn----", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Idchinhanh, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Idnhomtieuchi, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Idnhomtieuchi, ViewBag.NhomTieuChiList as SelectList, "----chọn----", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Idnhomtieuchi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Trangthaitc, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Trangthaitc, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Trangthaitc, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Diemtieuchi, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Diemtieuchi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Diemtieuchi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Idloaitc, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Idloaitc, ViewBag.LoaiTieuChiList as SelectList, "----chọn----", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Idloaitc, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-6 col-md-6">

                </div>
                <input type="submit" value="Lưu dữ liệu" class="btn btn-info" />
                <input type="reset" value="Xóa" class="btn btn-default" />
            </div>
        </div>
    }
</div>
    <div>
    <i class="fa fa-arrow-left"></i><span> @Html.ActionLink("Quay về Danh Sách Tiêu Chí", "TieuChiAsync")</span>
</div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


