@model KPIKietHong.Models.Tblquanlychinhanh

@{
    ViewBag.Title = "Tạo bộ chấm KPI";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Danh sách các đợt chấm KPI</h4>
    </div>
</div>
<div class="white-box">
    <div class="button-box">
        <form action="~/DanhGia/Create" method="post">
            Chi nhánh quản lý:
            @Html.DropDownListFor(model => model.Idchinhanh, new SelectList(ViewBag.listcn, "Idchinhanh", "Tenchinhanh", ViewBag.indexlistcn), new { @class = "form-control ", onchange = "window.location.href = '/DanhGia/DanhGiaAsync?value='+this.value" })

<p>
    @Html.ActionLink("Create New", "DanhGiaCreate")
   @Html.Raw(ViewBag.user)
</p>
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Iddanhgia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Idtieuchi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Iddapan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Diemdanhgia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ngaydanhgia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Iduser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ghichu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Noidungdanhgia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trangthaidanhgia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Iddanhgia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Idtieuchi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Iddapan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Diemdanhgia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ngaydanhgia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Iduser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ghichu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Noidungdanhgia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trangthaidanhgia)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

    </div>

@if (TempData["msg"] != null)
{
    @Html.Raw(TempData["msg"])
}*@
            </form>
            </div>
    </div>
