@model KPIKietHong.Models.Tblquanlychinhanh

@{
    ViewBag.Title = "Tạo bộ chấm KPI";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Danh sách các đợt chấm KPI</h4>
    </div>
</div>
<div class="white-box">
    <div class="button-box">
        <form action="~/DanhGia/Create" method="post">
            Chi nhánh quản lý:
            @Html.DropDownListFor(model => model.Idchinhanh, new SelectList(ViewBag.listcn, "Idchinhanh", "Tenchinhanh", ViewBag.indexlistcn), new { @class = "form-control ", onchange = "window.location.href = '/DanhGia/DanhGiaAsync?value='+this.value" })

            <input type="submit" value="Tạo bộ chấm KPI" class="btn btn-info btn-filter" />
        </form>
    </div>
    
@{
    var listbokpi = ViewBag.bokpi as List<KPIKietHong.Models.BoKPI>;
    var temp = new KPIKietHong.Models.BoKPI();
    if (listbokpi.Count > 0)
    {
        <div class="table-responsive">
            <table class="table table-striped table-bordered" id="editable-datatable">
                <thead>
                    <tr>
                        <th><b>STT</b></th>
                        @*<th>
                                @Html.DisplayNameFor(model => temp.Iddapan)
                            </th>*@
                        <th>
                            @Html.DisplayNameFor(model => temp.NgayDG)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => temp.SoKPI)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => temp.DaCham)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => temp.HoanThanh)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var item in listbokpi)
                {
                    <tr>
                        <td></td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.Iddapan)
                            </td>*@
                        <td>


                            @Html.DisplayFor(modelItem => item.NgayDG)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SoKPI)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DaCham)
                        </td>
                        <td>

                            @if (@item.HoanThanh.ToString() == "True")
                            {
                                <span class="label label-info">Hoàn thành</span>
                            }
                            else
                            {
                                <span class="label label-red">Chưa hoàn thành</span>
                            }
                        </td>
                        <td class="text-nowrap">
                            @*<form action="~/DanhGia/Details" method="post">
                               
                              
                                @Html.HiddenFor(x => item.Idchinhanh)
                                @Html.HiddenFor(x => item.NgayDG)
                                <input type="submit" value="Xem bộ chấm KPI" class="btn btn-info btn-filter" />*@

                                
                                <a class="btn btn-info" href="@Url.Action("Details","DanhGia", new { id=item.Idchinhanh, value = item.NgayDG })" data-toggle="tooltip" data-original-title="Xem"> <em class="fa fa-pencil"></em> </a>
                            @*</form>*@
                        </td>
                    </tr>
                }

            </table>
        </div>
    }
}

    </div>

@if (TempData["msg"] != null)
{
    @Html.Raw(TempData["msg"])
}