@model KPIKietHong.Models.Tblnhomtieuchi

@{
    ViewBag.Title = "NhomTieuChiEdit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>

<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Sửa Nhóm Tiêu Chí </h4>
    </div>
</div>
<div class="white-box">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Tblnhomtieuchi</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
           
                    @Html.HiddenFor(model => model.Idnhomtieuchi, new { htmlAttributes = new { @class = "form-control" } })
         

            <div class="form-group">
                @Html.LabelFor(model => model.Tennhomtieuchi, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Tennhomtieuchi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Tennhomtieuchi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Trangthaintc, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Trangthaintc, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Trangthaintc, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-6 col-md-6">

                </div>
                <input type="submit" value="Lưu dữ liệu" class="btn btn-info" />

            </div>
        </div>
    }
</div>
    <div>
    <i class="fa fa-arrow-left"></i><span> @Html.ActionLink("Quay về Nhóm Tiêu Chí", "nhomTieuChiAsync")</span>
</div>
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/validate-custom.js"></script>
